@import 'normalize.scss';
@import 'main.scss';

// Colors
// ------
$white: white;
$grey: rgb(181, 181, 181);
$blue: rgb(0, 161, 223);
$red: rgb(240, 83, 103);


// Spacing
// -------
$mobile-handle: 24px;
$mobile-content-gutter: 12px;
$mobile-single-handle-gutter: $mobile-handle + $mobile-content-gutter;
$mobile-combined-handle-single-gutter: ($mobile-handle * 2) + $mobile-content-gutter;
$mobile-combined-handle-gutter: ($mobile-handle * 2) + ($mobile-content-gutter * 2);
$mobile-foreground-total-margin: ($mobile-handle + $mobile-content-gutter + $mobile-handle) + ($mobile-content-gutter + $mobile-content-gutter + $mobile-handle);

$tablet-handle: 50px;
$tablet-content-gutter: $mobile-content-gutter;
$tablet-single-handle-gutter: $tablet-handle + $tablet-content-gutter;
$tablet-combined-handle-single-gutter: ($tablet-handle * 2) + $tablet-content-gutter;
$tablet-combined-handle-gutter: ($tablet-handle * 2) + ($tablet-content-gutter * 2);
$tablet-foreground-total-margin: ($tablet-handle + $tablet-content-gutter + $tablet-handle) + ($tablet-content-gutter + $tablet-content-gutter + $tablet-handle);


$mobile-poster-year-two-offset: 16px;
$mobile-poster-year-zero-offset: 24px;
$mobile-poster-year-one-offset: 13px;
$mobile-poster-year-five-offset: 14px;



// Font
// ----

.poster-year {
    z-index: 1;

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;

    padding: 0;
    margin: 0;

    font-size: 16px;

    background-color: $grey;

    .two-mobile,
    .zero-mobile,
    .one-mobile,
    .five-mobile {
        position: absolute;
        background-blend-mode: multiply;
    }
    .two-mobile {
        background-image: url('/static/svg/phone/2.svg');
        top: 0;
        // 36 + 16
        left: calc(#{$mobile-handle} + #{$mobile-content-gutter} + #{$mobile-poster-year-two-offset});
        
        width: 86px;
        height: 167px;
    }
    .zero-mobile {
        background-image: url('/static/svg/phone/0.svg');
        top: calc(#{$mobile-handle} + #{$mobile-content-gutter} + #{$mobile-poster-year-zero-offset});
        right: 0px;
        
        width: 142px;
        height: 95px;
    }
    .one-mobile {
        background-image: url('/static/svg/phone/1.svg');
        bottom: calc(#{$mobile-handle} + #{$mobile-content-gutter} + #{$mobile-poster-year-one-offset});
        left: 0;

        width: 117px;
        height: 91px;
    }
    .five-mobile {
        background-image: url('/static/svg/phone/5.svg');
        bottom: 0;

        right: calc(#{$mobile-handle} + #{$mobile-content-gutter} + #{$mobile-poster-year-five-offset});

        width: 84px;
        height: 155px;
    }


    // Tablet
    // ------
    @media only screen and (min-width: 768px) { }

    // Desktop
    // ------
    @media only screen and (min-width: 1024px) { }
}



.poster-risd {
    z-index: 2;

    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    padding: 0;
    margin: 0;

    font-size: 16px;

    background-blend-mode: multiply;
    mix-blend-mode: multiply;

    article {
        position: absolute;
        box-sizing: border-box;

        padding: 0;
        margin: 0;

        background-color: $red;

        background-blend-mode: multiply;
        mix-blend-mode: multiply;

        width: calc(100% - #{$mobile-combined-handle-gutter});
        height: calc(100% - #{$mobile-combined-handle-gutter});

        top: calc(#{$mobile-handle} + #{$mobile-content-gutter});
        bottom: calc(#{$mobile-handle} + #{$mobile-content-gutter});
        left: calc(#{$mobile-handle} + #{$mobile-content-gutter});
        right: calc(#{$mobile-handle} + #{$mobile-content-gutter});

        @media screen and (min-width: 1024px) {
            width: calc(100% - #{$tablet-combined-handle-gutter});
            height: calc(100% - #{$tablet-combined-handle-gutter});

            // top: calc(#{$tablet-handle} + #{$tablet-content-gutter});
            bottom: calc(#{$tablet-handle} + #{$tablet-content-gutter});
            left: calc(#{$tablet-handle} + #{$tablet-content-gutter});
            right: calc(#{$tablet-handle} + #{$tablet-content-gutter});            
        }
    }

    .r-mobile,
    .i-mobile,
    .s-mobile,
    .d-mobile {
        position: absolute;
        background-blend-mode: normal;
    }

    .r-mobile {
        background-image: url('/static/svg/phone/R.svg');
        top: 0;
        left: 0;
        width: 109px;
        height: 137px;
    }
    .i-mobile {
        background-image: url('/static/svg/phone/I.svg');
        top: 0;
        right: 0;
        width: 101px;
        height: 126px;
    }
    .s-mobile {
        background-image: url('/static/svg/phone/S.svg');
        bottom: 0;
        left: 0;
        width: 97px;
        height: 118px;
    }
    .d-mobile {
        background-image: url('/static/svg/phone/D.svg');
        bottom: 0;
        right: 0;
        width: 109px;
        height: 124px;
    }
}


.poster-show-name {
    z-index: 3;

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100vh;

    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    article {
        display: flex;
        flex-flow: column wrap;
        justify-content:center;

        height: 100%;
    }

    h1 {
        background-color: transparent;
        color: $grey;
        z-index: 3;

        flex: initial;
        text-align: left;

        text-transform: uppercase;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }

    .risd {
        width: 60%;
        margin-left: 40%;
    }
    .grad {
        width: 80%;
        margin-left: 20%;
    }
    .show {
        width: 45%;
        margin-left: 55%;
    }
    .year {
        width: 70%;
        margin-left: 30%;
    }
}

@mixin slide-in {
    z-index: 4;

    font: {
        family: "Founders Grotesk Text Bold", sans-serif;
        size: 14pt;
        // line-height: 17pt; ???
        weight: normal;
    }

    position: fixed;
    top: $mobile-single-handle-gutter;
    bottom: $mobile-single-handle-gutter;

    overflow-x: hidden;
}

@mixin slide-in-background {
    @include slide-in;

    width: calc(100% - #{$mobile-single-handle-gutter});
    height: calc(100% - #{$mobile-combined-handle-gutter});

    @media screen and (min-width: 1024px) {
        width: calc(100% - #{$tablet-single-handle-gutter});
        height: calc(100% - #{$tablet-combined-handle-gutter});
    }
}

@mixin slide-in-foreground {
    @include slide-in;

    width: calc(100% - #{$mobile-foreground-total-margin});
    height: calc(100% - #{$mobile-combined-handle-gutter});

    @media screen and (min-width: 1024px) {
        width: calc(100% - #{$tablet-foreground-total-margin});
        height: calc(100% - #{$tablet-combined-handle-gutter});        
    }
}

.statement-background {
    @include slide-in-background;

    &.inActive {
        right: calc(100% - #{$mobile-handle});

        @media screen and (min-width: 1024px) {
            right: calc(100% - #{$tablet-handle});
        }
    }
    &.active {
        right: $mobile-single-handle-gutter;

        @media screen and (min-width: 1024px) {
            right: $tablet-single-handle-gutter;
        }
    }

    mix-blend-mode: multiply;

    .handle {
        background-color: $blue;

        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        // ((320-36)-24)/(320-36)*100
        width: 100%;

        .label {
            position: absolute;
            top: 43%;
            right: -42px;
            transform: rotate(-90deg);
        }
        p {
            text-transform: uppercase;
        }
    }

    a {
        text-decoration: none;
        color: $grey;
    }
}
.statement-foreground {
    @include slide-in-foreground;
    
    &.inActive {
        right: calc(100% + #{$mobile-combined-handle-single-gutter});

        @media screen and (min-width: 1024px) {
            right: calc(100% + #{$tablet-combined-handle-single-gutter});
        }
    }
    &.active {
        right: $mobile-combined-handle-single-gutter;

        @media screen and (min-width: 1024px) {
            right: $tablet-combined-handle-single-gutter;
        }
    }
    article {
        mix-blend-mode: normal;

        position: absolute;
        width: 100%;
        p {
            color: $white;
        }
    }
}
.info-background {
    @include slide-in-background;
    
    &.inActive {
        left: calc(100% - #{$mobile-handle});

        @media screen and (min-width: 1024px) {
            left: calc(100% - #{$tablet-handle});
        }
    }
    &.active {
        left: #{$mobile-single-handle-gutter};

        @media screen and (min-width: 1024px) {
            left: #{$tablet-single-handle-gutter};
        }
    }

    mix-blend-mode: multiply;

    .handle {
        background-color: $blue;

        

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        .label {
            position: absolute;
            top: 42%;
            left: -51px;
            transform: rotate(90deg);
        }
        p {
            text-transform: uppercase;
        }
    }

    a {
        text-decoration: none;
        color: $grey;
    }
}
.info-foreground {
    @include slide-in-foreground;

    &.inActive {
        left: 100%;
    }
    &.active {
        // 24+12+12+24
        // 72
        left: $mobile-combined-handle-gutter;

        @media screen and (min-width: 1024px) {
            left: $tablet-combined-handle-gutter;
        }
    }
    article {
        mix-blend-mode: normal;

        position: absolute;
        width: 100%;
        p {
            color: $white;
        }
        a {
            text-decoration: none;
            color: $white;
            // border-bottom: 1px solid white;
        }
    }
}